:root {
	--gc-blue-background: #1a73e8;
	--gc-border-color: #dadce0;
	--gc-border-size: 2px;
	--gc-day-padding: 0.25rem;
	--gc-green-background: #188038;
	--gc-hover-background: #f1f3f4;
	--gc-muted-text-color: #777;
	--gc-red-background: #d93025;
    --gc-text-red: #d93025;
	--gc-surface-color: #fff;
	--gc-text-color: #333;
}
